.searchbar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  position: relative;
  width: 100%;
  max-width: 540px;
  height: 45px;
  border-radius: 15px;
  background: #edeef4;
  padding: 0 1.5rem;

  .icon {
    position: absolute;
    top: 32%;
  }

  input {
    all: unset;
    width: 100%;
    padding-left: 1.5rem;
    font-size: 1rem;
    font-weight: 500;

    &::placeholder {
      color: #acafb5;
    }
  }
}
