@import "styles/common";

.toggleBtn {
  @extend .alignCen;
  gap: 0.5rem;

  .title {
    font-weight: 600;
    font-size: 14px;
    width: 1.85rem;
  }

  .container {
    width: 34px;
    height: 20px;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.25s;

    .btn {
      @extend .clearStl;
      @include setSquare(1rem);
      margin-top: 2px;
      margin-left: 1px;
      border-radius: 50%;
      transition: all 0.25s;
      cursor: pointer;
    }
  }

  .active .btn {
    margin-left: 1rem;
  }
}

.lg {
  gap: 1rem;

  .title {
    font-size: 1.15rem !important;
  }

  .container {
    width: 2.5rem;
    height: 1.5rem;

    .btn {
      @include setSquare(1.1rem);
      margin-top: 3px;
      margin-left: 3px;
    }
  }

  .active .btn {
    margin-left: 1.2rem;
  }
}
